{%  extends "base.html" %}

{% block title %}환자 검색 {% endblock %}

{% block content %}
<div id="content">
    <h1> 검  색</h1>

    <form action="/procedure/search/" method="post"> {% csrf_token %}
    {{ form.as_p }}
        <input type="submit" value="찾기" />
    </form>

    <br/><br/>

    {%  if object_list %}
    <h1>총 {{patient_number}}명이 검색되었습니다.</h1>
        <table>
        <tr>
        <th> 이름</th>
        <th> 성별</th>
        <th> No.</th>
        <th> 생일</th>
        <th> phone</th>
        <th> 검사 날짜</th>
        <th> 검사종류</th>
        <th> Dr.</th>
        </tr>

    {%  for list in object_list %}
        <tr>
        <td><a href="{% url 'procedure:search_update' list.id %}"><font color="blue">{{ list.patient_name }}</font></a></td>
        <td>{{ list.patient_sex }}</td>
        <td>{{ list.hospital_no}}</td>
        <td>{{ list.patient_birth |  date:"y, m.d"}}</td>
        <td>{{ list.patient_phone}}</td>
        <td>{{ list.exam_date |  date:"y, m.d" }}</td>
        <td>{{ list.exam_type }}</td>
        <td>{{ list.exam_doc}}</td>
        </tr>
    {% endfor %}
        </table>
    {% elif search_term %}
    <b><i>검색된 것이 없습니다.</i></b>
    {%  endif %}
</div>
{% endblock %}
